
#header{
 text-align: center; 
}

#header-bg{
 background-image: url("kummerfunny.png");

    /* Set a specific height */
    height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.images-left {
  @media only screen and (min-width: $cut) {
    float: left;
    width: 48%;
  }
  img {
    @media only screen and (min-width: $cut) {
      float: left;
    }
  }
}
.images-right {
  @media only screen and (min-width: $cut) {
    float: right;
    width: 48%;
  }
  img {
    @media only screen and (min-width: $cut) {
      float: right;
    }
  }
 
 .contents-right {
  @media only screen and (min-width: $cut) {
    float: right;
    margin-top: -5%;
    width: 48%;
  }
}
 
 .contents {
  @media only screen and (min-width: $cut) {
    margin-left: 0;
    width: 48%;
  }
}
}

